<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <li><a href="/">home</a></li>
        <li><a href="/myRecords">my records</a></li>
    </header>
    <%data.forEach(item=>{%>
        <p>
            Country :<%=item.country %>
        </p>
        <p>
            Total Confirmed Cases:<%=item.totalconfirmed %>
        </p>
        <p>
            Total Deaths Cases :<%=item.totaldeath %>
        </p>
        <p>
            Total Recovered Cases :<%=item.totalrecovered %>
        </p>
        <p>
            Date:<%=item.date %>
        </p>
        <form action="/addrecord" method="POST">
        <input type="hidden" name="country" value="<%=item.country %>">
        <input type="hidden" name="totalconfirmed" value="<%=item.totalconfirmed %>">
        <input type="hidden" name="totaldeath" value="<%=item.totaldeath %>">
        <input type="hidden" name="totalrecovered" value="<%=item.totalrecovered %>">
        <input type="hidden" name="date" value="<%=item.date %>">
        <input type="submit"  value="add-to-my-records">

        </form>
        <% }) %>

</body>

</html>